.btn:hover{
    display: block;
}

.move-display-btn{
    pointer-events: none;
    padding-top: 75px;
    padding-bottom: 75px;
}

.selection-block{
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.hidden{
    pointer-events: none;
    opacity: 0;
    transition: all ease-in-out 0.3s ;
}
.centered{
    text-align: center;
}

.auto-margin{
    margin: auto;
}

body{
    overflow: hidden;
}

.text{
    margin: 50px 0 50px 0;
    text-align: center;
}